.wrap {
    flex: 0 0 86px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    .linkWrap {
        display: flex;
        gap: 20px;
    }

    .btnWrap {
        position: absolute;
        right: 30px;
    }
}
